[tool.black]
line-length = 120
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | docs/build/
  | node_modules/
  | venve/
  | .venv/
)
'''

[tool.poetry]
name = "pytorch_forecasting"
readme = 'README.md'  # Markdown files are supported
version = "0.2.3"

authors = ["Jan Beitner"]
classifiers = [
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License"]
description = "Forecasting timeseries with PyTorch - dataloaders, normalizers, metrics and models"
repository = "https://github.com/jdb78/pytorch-forecasting"
documentation = "https://pytorch-forecasting.readthedocs.io"
homepage = "https://pytorch-forecasting.readthedocs.io"

[tool.poetry.dependencies]
python= "^3.7"

torch = "^1.6"
pytorch-lightning = "^0.9.0"
optuna = "^2.0.0"
scipy = "*"
pandas = "^1.0.3"
scikit-learn = "^0.23"
pytorch-ranger = "*"
matplotlib = "*"
cloudpickle = "*"
statsmodels = "*"

pytest-github-actions-annotate-failures = {version = "*", optional = true}

[tool.poetry.dev-dependencies]
# checks and make tools
invoke = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
isort = "*"

# pytest
pytest = "*"
pytest-xdist = "*"
pytest-cov = "*"
pytest-sugar = "*"
coverage = "*"
pyarrow = "*"

# jupyter notebook
ipykernel = "*"
black = { version = "*", allow-prereleases = true }

# documentatation
sphinx = "^3.2"
pydata-sphinx-theme = "*"
nbsphinx = "*"
pandoc = "*"


[tool.poetry.extras]  # extras
github-actions = ["pytest-github-actions-annotate-failures"]

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
dirty = false
style = "semver"  # semantic versioning

[build-system]  # make the package pip installable
requires = ["poetry>=1.0.5", "poetry-dynamic-versioning"]
build-backend = "poetry.masonry.api"
