.container-xl {
  max-width: 4000px;
}
a.reference.internal.nav-link {
  color: #727991 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.active > a,
.active .nav-link,
.nav-link,
.navbar-nav > .active > a.nav-link {
  color: #ee4c2c !important;
}
a.nav-link[href="https://github.com/jdb78/pytorch-forecasting"]
{
  color: #ee4c2c !important;
}

code {
  color: #d14 !important;
}

pre code,
a > code,
.reference {
  color: #647db6 !important;
}

dt:target,
span.highlighted {
  background-color: #fff !important;
}

/* code highlighting */
.highlight > pre > .mi {
  color: #d14 !important;
}
.highlight > pre > .mf {
  color: #d14 !important;
}

.highlight > pre > .s2 {
  color: #647db6 !important;
}
