sphinx>3.2
nbsphinx
pandoc
docutils
pydata-sphinx-theme
pytorch-lightning>=0.9.0
cloudpickle
torch>=1.6
optuna>=2.0
scipy
pandas>=1.0
scikit-learn>0.23
matplotlib
statsmodels
ipython
nbconvert<6.0
recommonmark>=0.7.1
